body{
    background-color: #40E0D0;
}

* {
    margin: 0;
    font-family: 'Poppins', sans-serif; 
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: #51f5e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.parent {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    background-color: #E6E6FA;
    border-radius: 10px;
    margin-top: 10px;
}

.a {
    width: 100%;
    height: 100%;
    display: flex;
}

.btn {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
}

.div2 {
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    background-color: #F5DEB3;
    border-radius: 10px;
    margin-top: 10px;
}

.div3 {
    grid-row: span 4 / span 4;
    grid-column-start: 6;
    background-color: #00CED1;
    border-radius: 10px;
    margin-top: 10px;
}
        
        